<div class="container"><br>
  <div class="card text-center">
    <div class="card-header">
      What is Angular?
    </div>
    <div class="card-body">
      <h5 class="card-title">Angular</h5>
      <p class="card-text">
        Angular is a platform that makes it easy to build applications with the web.
        Angular combines declarative templates, dependency injection, end to end tooling,
        and integrated best practices to solve development challenges. Angular empowers developers
        to build applications that live on the web, mobile, or the desktop</p>
      <a href="https://angular.io/guide/quickstart" class="btn btn-primary">Go to our Angular site</a>
    </div>
    <div class="card-footer text-muted">
     <a href="DG Creations">DG Creations</a>
    </div>
  </div>
</div>