
<div style="text-align:center">
  <!-- <h1>
    Welcome to {{title}}!!
  </h1> -->
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="home">Home</a>
          <a class="nav-item nav-link" href="about">About</a>
          <a class="nav-item nav-link" href="dashboard">Dashboard</a>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Registrations
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a class="nav-item nav-link" href="student"><button class="dropdown-item" type="button">Student</button></a>
              <a class="nav-item nav-link" href="lecturer"><button class="dropdown-item" type="button">Lecturer</button></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <br>
  <br>
  <br>
  <router-outlet></router-outlet>
</div>